div{
    height: 350px;
    width: 270px;
    text-align: justify;
    margin: 40px auto;
    border-image-source: url(https://media.istockphoto.com/id/162721677/vector/border-frame-with-floral-pattern.jpg?s=612x612&w=is&k=20&c=xEaIda47C7Ksv-t7N6PBi18K9jXHNHnnOVNy7luphaY=);
    /* border-image-source: url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/wedding-invitation-card-background-template-design-f37fa4833424fd9079e726649ac2cd7d_screen.jpg?ts=1693683080); */
    /* border-image-source: url(https://i.pinimg.com/236x/a6/39/ff/a639ff0bb70e451731bceec4c5bd7aec.jpg); */
    border-image-width: 30px;
    border-image-slice: 40;
     border-image-outset: 30px; 
    text-align: center;
    border-image-repeat:round;
   
}
