body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.div1{
    height: 375px;
    width: 375px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.div2{
    height: 300px;
    width: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.div3{
    height: 225px;
    width: 225px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.div4{
    height: 150px;
    width: 150px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.div5{
    height: 75px;
    width: 75px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

