#heading{
    background-color: aqua;
}
.heading-2{
    background-color: gold;
}
#heading-1{
    background-color: darkgreen;
}
p{
    background-color: fuchsia;
}
.classname-1{
    background-color: cyan;
}
