.p1{
        height: 200px;
        width: 200px;
        background-color: goldenrod;
        border-radius: 1px;
    }
    .p2{
        height: 200px;
        width: 200px;
        background-color: cadetblue;
        border-radius: 150px;
    }
    .p3{
        height: 150px;
        width: 400px;
        background-color: coral;
        border-radius: 2px;
    }
    .p4{
        height: 200px;
        width: 350px;
        background-color: darkseagreen;
        border-radius: 100%;
    }
    .p5{
        height: 0px;
        width: 0px;
        border-top: 20px solid green;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    }
