div{
    height: 200px;
    width: 200px;
    margin: 200px auto;
    background-color: aqua;
    color: rgb(250, 250, 248);
    font-size: 25px;
     transform: rotate(20deg);
    transform: rotate(90deg);
    transform: rotateY(50deg);
    transform: scale(2);
    transform: scaleX(0.9);
    transform: scaleY(0.5);
    /* transform: scale3d(1.5); */
    transform: scale(-0.5);
}
section{
     height: 200px;
    width: 200px;
    margin: 200px auto;
    background-color: aqua;
    color: rgb(250, 250, 248);
    font-size: 25px;
    transform: translate(100px);
    transform: translate(100px,200px);
    transform: translateX(100px);
    transform: rotate(100deg) scale(1.2);
    transform: translate(100px) ,scale(1.2);
}
section:hover{
     transform: rotate(100deg) scale(1.2);
    /* transform: translate(100px) ,scale(1.2); */
}
div{
    transform: skew(-60deg);
    transform: skewX(-60deg);
     transform: skewY(-60deg);
}
